/* --------------- 通用 --------------- */
* {
    box-sizing: border-box;
}

.divider {
    width: 1px;
    height: 40px;
    background-color: #C6C6C6;
}

input[type=text] {
    padding: 0;
    margin: 0;
    border: none;
}

input[type=text]:focus {
    outline: none;
}

.btn {
    padding: 0;
    margin: 0;
    width: 124px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border: 1px solid #18C285;
    color: #18C285;
    font-size: 14px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.btn:focus {
    outline: none;
}

.btn--green {
    background-color: #18C285;
    color: #FFFFFF;
}

/* --------------- 首页 --------------- */
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    min-width: 1000px;
    min-height: 625px;
    overflow: hidden;
    background: url("./bg.svg");
    background-size: cover;
    background-position: center center;
    font-family: PingFang SC, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.header {
    display: flex;
    width: 420px;
    max-width: 100%;
    padding: 40px 0 0 50px;
    align-items: center;
    justify-content: space-between;
}

.header input[type=text] {
    height: 28px;
    font-size: 20px;
    color: #888888;
}

.desc {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 520px;
    max-width: 100%;
    transform: translate(-100%, -50%);
    transition: 0ms !important;
    text-align: right;
}

.desc-main {
    height: 90px;
    line-height: 90px;
    font-size: 64px;
    font-weight: 600;
}

.desc-sub {
    line-height: 37px;
    margin: 10px 0 30px 0;
    font-size: 20px;
    color: #35393B;
}

.desc .btn:last-of-type {
    margin-left: 40px;
}
.desc p {
    margin: 0;
}

@media screen and (max-width: 600px) {
    .header {
        display: block;
        padding: 2rem 0 0 2rem;
    }

    .divider {
        width: 0;
        height: 1rem;
    }

    .desc {
        position: absolute;
        top: 50%;
        left: 0%;
        padding: 1rem;
        text-align: center;
        transform: translate(0, -50%);
    }

    .desc-main {
        font-size: 44px;
    }

    .desc-sub {
        font-size: 14px;
    }

    .desc p {
        display: inline;
    }
}
